/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.App {
  display: flex;
  gap: 40px;
}

.left-side {
  background-color: #015c55;
  min-height: 100svh;
  height: auto;
  width: 350px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.right-side {
  background-color: #fff;
  min-height: 100svh;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  padding-right: 5px;
}
.toggle-icon {
  position: absolute;
  top: 10px;
  cursor: pointer;
  opacity: 0;
}
.information {
  font-size: 14px;
  font-weight: lighter;
  line-height: calc(11px * 1.618);
  min-width: 33.33%;
  width: auto
}
.entry-card {
  width: 49%;
  height: fit-content;
}

@media (width <= 768px) {
  .left-side {
    width: 40px;
    border-radius: 0;
    position: absolute;
    z-index: 1001;
    /* background-color: blue; */
  }
  .right-side {
    position: absolute;
    left: 45px;
    width: calc(100% - 45px);
    z-index: 1000;
  }
  .user-logo, .u-info, .nav-links h4 {
    display: none;
  }
  .toggle-icon {
    opacity: 1;
  }
  .left-side:focus-within {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 300px;
  }
  .left-side:focus-within .user-info .toggle-icon {
    opacity: 0;
  }
  .left-side:focus-within .user-logo, .left-side:focus-within .u-info, .left-side:focus-within .nav-links h4 {
    display: block;
  }
  .entry-card {
    width: 99%!important;
  }
}