.add-guest-form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}

label {
  font-weight: bold;
}

.add-guest-form input {
  padding: 8px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 5px;
  align-self: stretch;
}

add-guest-form input:focus {
  border: 1px solid #015c55;
}

.add-guest-form select {
  padding: 8px;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 5px;
  align-self: stretch;
}

fieldset {
  text-align: left;
  border: 1.5px solid #d5d4dc;
  border-radius: 9px;
}

legend {
  margin-left: 5%;
}

.btn-add-guest {
  background: #015c55;
  border: 1px solid #015c55;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 10px;
}
